@media screen and (max-width: 750px) {
	#textoprincipal h1{
		font-size: 300%;
	}
}
#title{ font-family:"Lucida Console",monospace; margin-left:20px; letter-spacing:2px; margin-top: 15px; font-variant: small-caps}
.jumbotron{ 
	background-image: url("/images/deporte.jpg");  
	background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 100vh;
    margin-bottom: 20px;
    border-radius: 0%;
}



.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}




.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}



.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


@media screen and (min-width: 750px) {
	#popupDemo-popup.ui-popup-container {
	    position: absolute;
	    margin: 2% 0 0 25%;
	    top: 0 !important;
	    left: 0 !important;
	    width: 50%;
	    height: 70%;
	    z-index:500000000;
	}
	.modalDialog > div {
		width: 400px;
	}
}

@media screen and (max-width: 750px) {
	#popupDemo-popup.ui-popup-container {
	    position: absolute;
		margin: 2% 0 0 2%;
		top: 0 !important;
		left: 0 !important;
		width: 90%;
		height: 90%;
		z-index: 500000000;
	}
	.modalDialog > div {
		width: 75%;
	}
}

#popupDemo{
		width: 100%;
	    height: 100%;
	    max-width: 100% !important;
}
